.list{
    display: flex;
    width: 580px;
    height: 30px;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: linear-gradient(45deg, #ffffff, #ffffff);
    box-shadow:  10px -10px 20px #cbc9c9,
             -10px 10px 20px #f8f5f5;
}

.WrapperList p{
    display: flex;
    justify-self: flex-start;
    padding-left: 10px;
    font-size: 24px;
    margin: 0;
}

.item-list{
    display: flex;
    overflow: auto;
    max-width: 100%;
    border-radius: 10px;
}

.countries{
    margin-right: 10px;
}

.item-list p{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;

}

.item-list img{
    margin-right: 10px;
    width: 20px;
}

.item-list button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
}

::-webkit-scrollbar {
    height: 3px;
  }

  .item-list::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  .item-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #42b3d2, #005bea);
  }

.btnShow{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}

.btnShow img{
    width: 25px;
}